image: docker:latest

variables:
  GOOGLE_TAG: eu.gcr.io/papers-kubernetes/$CI_PROJECT_NAMESPACE/$CI_PROJECT_NAME:$CI_COMMIT_SHA
  GOOGLE_TAG_LATEST: eu.gcr.io/papers-kubernetes/$CI_PROJECT_NAMESPACE/$CI_PROJECT_NAME:latest

stages:
  - build
  - test
  - publish

build:
  stage: build
  script:
    - docker build -t $GOOGLE_TAG .
  tags:
    - docker

unit:
  stage: test
  before_script:
    - docker rm -f unit-$CI_COMMIT_SHA || true
    - docker rm -f unit-legacy-$CI_COMMIT_SHA || true
  script:
    - docker run --name unit-$CI_COMMIT_SHA $GOOGLE_TAG /bin/bash -c "npm run install-test-dependencies; npm run test-ci"
    - docker run --name lint-$CI_COMMIT_SHA $GOOGLE_TAG /bin/bash -c "npm run install-test-dependencies; npm run lint-ci"
    - docker cp unit-$CI_COMMIT_SHA:/app/coverage coverage
    - docker cp lint-$CI_COMMIT_SHA:/app/lint-reports lint-reports
  after_script:
    - docker rm -f unit-$CI_COMMIT_SHA || true
    - docker rm -f unit-legacy-$CI_COMMIT_SHA || true
    - docker rm -f lint-$CI_COMMIT_SHA || true
  tags:
    - docker
  artifacts:
    paths:
      - coverage
      - lint-reports


publish_beta:
  stage: publish
  when: manual
  script:
    - docker run --env NPM_AUTH_TOKEN --name unit-$CI_COMMIT_SHA $GOOGLE_TAG ./npm-ci-publish-beta-only.sh
  tags:
    - docker

publish:
  stage: publish
  only:
    - master
  when: manual
  script:
    - docker run --env NPM_AUTH_TOKEN --name unit-$CI_COMMIT_SHA $GOOGLE_TAG ./npm-ci-publish.sh
  tags:
    - docker
